@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Press Start 2P';
    position: relative;
    
}
body{
    width: 100%;
    height: 100%;
    
}
header{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    background-color: rgb(245, 245, 97);
    overflow: hidden;
}

header h1{
    padding: 20px;

    font-size: 2em;
}

header #number{
    height: 1em;
    padding: 20px;
    border-radius: 50px;
}

header #go{
    text-align: center;
    line-height: 1em;
    height: 1.2em;
    width: 3em;
    border-radius: 50px;
    margin-left: 20px;
    font-size: 50px;
}

header #random{
    text-align: center;
    height: 1.2em;
    width: 9em;
    font-size: 50px;
    border-radius:50px ;
    margin-left: 20px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 97);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    padding: 5px;
    overflow: hidden;
}

main #logo{
    width: 300px;
    margin-left: 40px;
    transition: 0.7s;
}
main #logo:hover{
    transform: scale(2);
}
main .card{
    border: rgb(0, 89, 255) solid 10px;
    margin: 50px;
    width: 400px;
}

.card-image, .card-stats{

    padding: 3%;
    
}

.card-image{
    display: flex;
    justify-content: center;
    border: yellow solid 10px;
    
}

.card-stats{
    display: flex;
    flex-direction: column;
    border: yellow solid 10px;
    background-color: yellow;
    font-weight: bold;
}

